* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

*.7z binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.webp binary
*.zip binary
