parameters:
  level: max
  bootstrapFiles:
    - tools/bootstrap.php
  paths:
    - src
    - tests
    - routes
    - database
    - tools
  tmpDir: .phpstan.cache
  treatPhpDocTypesAsCertain: true
  reportUnmatchedIgnoredErrors: true
