<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Quality">
            <directory>tests/Unit</directory>
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/MySql</exclude>
            <directory>tests/Architecture</directory>
            <directory>tests/Tools</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/MySql</exclude>
        </testsuite>
        <testsuite name="Architecture">
            <directory>tests/Architecture</directory>
        </testsuite>
        <testsuite name="Tools">
            <directory>tests/Tools</directory>
        </testsuite>
        <testsuite name="MySQL">
            <directory>tests/Integration/MySql</directory>
        </testsuite>
    </testsuites>
</phpunit>
